* {
  text-align: right;
}

body {
  background-image: url(https://wallpaperaccess.com/full/5112865.jpg);
  background-size: cover;
}

h2, p {
  color: #aa4139;
  text-align: center;
  border: 5px dashed rgba(108, 17, 211, 0.5);
  cursor: pointer;
}

p {
  color: pink;
}

p {
  color: yellow;
}

li {
  list-style: square;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: rgb(21, 245, 207);
}

#div1 {
  background-color: rgba(0, 0, 0, 0.5);
}
